@import '~styles/config';

.header {
  display: block;

  background-color: #fff;

  &__container {
    @include container;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: $gutter 0;
  }

  &__logo {
    @include reset-anchor;

    max-width: 63px;

    &Svg {
      display: block;
      max-width: 100%;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
