@import '~styles/config';

.search {
  &__input {
    @include reset-input();

    padding: 0 20px;

    width: 100%;
    height: 35px;

    font-size: $font-size;

    border: 1px solid $color-border-gray;

    &:focus {
      border: 1px solid $color-placeholder;

      transition: 0.35s ease;
    }

    &::-webkit-input-placeholder {
      color: $color-placeholder;
    }

    &:-moz-placeholder {
      color: $color-placeholder;
    }

    &::-moz-placeholder {
      color: $color-placeholder;
    }

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }
  }
}
