@import '~styles/config';

.image {
  &__container {
    @include container;
  }

  &__figure {
    @include reset-all;
    margin: $gutter * 2 0;
  }

  &__img {
    margin: 0 auto;
  }

  &__caption {
    margin: 1em 0;
  }

  &__caption * { // stylelint-disable-line
    @include reset-all;
    @include responsive-font(16, 18);
    font-family: $font-family-heading;
    font-weight: normal;
    text-align: center;

    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      line-height: 0.75em;

      text-shadow:
        1px 1px #fff,
        -1px -1px #fff,
        -1px 1px #fff,
        1px -1px #fff,
        2px 2px #fff,
        -2px -2px #fff,
        -2px 2px #fff,
        2px -2px #fff;

      border-bottom: 1px solid $color-light;

      &:hover { // stylelint-disable-line
        border-bottom: 1px solid $color-default;
      }
    }
  }
}
